.App {
  text-align: center;
  display: flex;
  max-width: 100%;
  font-size: 20px;
  margin: 2%;
}
.Blocks {
  margin: 10px 0%;
  padding: 2px 2px;
  border: 1px solid blue;
  max-width: 50%;
  min-width: 49%;
  background-color: aqua;
}
textarea {
  width: fit-content;
  margin: 0px;
  min-width: 80%;
  height: 500px;
  font-size: 18px;
}
.output {
  border: 1px solid black;
  margin-top: 50px;
  margin-right: 25px;
  margin-left: 20px;
  padding: 0%;
  background-color: azure;
}
